:root {
    color-scheme: dark;
}

.skip-link {
    position: absolute;
    left: 0;
    top: -20rem;

    width: 100%;
    padding-block: .5rem;

    background-color: tomato;
    color: whitesmoke;
    text-align: center;

    &:focus-visible {
        top: 0;
    }
}

.border-transparent {
    border-color: transparent;
}
